.profile {
    padding-left: 700px;
    padding-top: 40px;
}

.profile >h1 {
    display: flex;
    padding-left: 16px;
    text-align: center;
    margin: 5px;
}

.projects {
    display: block;
    color: white;
    background-color: rgb(159, 168, 170);
    height: 500px;
    width: 200px;
    text-align: center;
    height: 100%;
}

.section {
    background-color: whitesmoke;
    padding-left: 1100px;
    height: 5000px;
}
